<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <form #loginFormRef="ngForm" (ngSubmit)="onLoginSubmit(loginFormRef)">
      <!-- username -->
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          ngModel
        />
      </div>
      <!-- password -->
      <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          ngModel
        />
      </div>

      <button
        class="btn btn-link mr-3"
        (click)="onSwitchAuthMode()"
        type="button"
      >
        Switch to {{ isLoginMode ? "Sign Up" : "Sign In" }}
      </button>
      |
      <button class="btn btn-primary ml-3" type="submit">
        {{ isLoginMode ? "Sign In" : "Sign Up" }}
      </button>
    </form>
    <p class="alert alert-danger mt-3" *ngIf="errMsg">{{ errMsg }}</p>
  </div>
</div>
